<mat-toolbar color="primary">
  <span> &nbsp; </span> 
  <span noWrap=false> Orders </span>
  <span class="example-spacer"></span>
</mat-toolbar>


<section class="mat-title mat-typography">
  <h2 class="mat-h2">&nbsp;&nbsp;Search Order Details</h2>
</section>
<mat-card>
  <div class="example-container">
    <form class="example-container" [formGroup]="searchForm">
      <mat-form-field>
        <input matInput placeholder="OrderId" formControlName="orderId" required />
      </mat-form-field>
      <br>
      <button
        mat-raised-button
        color="primary"
        (click)="searchOrder()"
        [disabled]="!searchForm.valid"
      >
        Search
      </button>
    </form>
  </div>
  {{orderCount | json}}
</mat-card>